@charset "UTF-8";

html.locked,html.locked body{height:100%;overflow:hidden;}
.dialog_Wrap{border:3px solid #A2BAD7;border-radius:4px;color:#3E6CB1;background-color:#fff;overflow: hidden;}
.dialog_Head{height:25px;line-height:25px;padding-left:10px;border:1px solid #648CBD;cursor:move;}
.dialog_Head .dialog_Opts{position:absolute;right:14px;top:4px;height:15px;}
.dialog_Head .dialog_close{display:block;width:29px;height:15px;}
.dialog_Body{border:1px solid #648CBD;border-top:0;}
.dialog_Iframe{overflow:hidden;}
.dialog_Cont{word-wrap:break-word;padding:10px;}
.dialog_Btns{text-align:center;}
.converIframe{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;filter:Alpha(Opacity=0);opacity:0;}
#masker{background:#000;filter:alpha(opacity=30);opacity:.3;}

.Btn a{display:inline-block;height:25px;line-height:25px;padding:0 8px;margin:0;border:0;vertical-align:middle;overflow:visible;
	border-radius:4px;
	box-shadow: 0 -1px 0 #ccc;
}
.BtnY a{background-color: #006DCC;color: #fff;}
.BtnN a{background-color: #E6E6E6;color: #333;}
 


